.container {
  display: grid;

  justify-items: center;
}

.sectionBody {
  grid-area: section;
  text-align: center;
}

.sectionTitle {
  color: black;
  font-size: 3em;
  text-align: center;
}

.sectionSubTitle {
  font-size: 1.5em;
  text-align: center;
}

.bodyOfText {
  padding-left: 20%;

}